div.header {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 0;
  margin-top: 1%;
  height: 10%;
}
div.body {
  height: 90%;
}
div.body > div {
  padding:0;
}
.sublead {
  margin: 0;
  font-size: 1em;
}
.img-responsive {
  height: 60px;
}
.grafica {
  border:1px dotted; 
  width: 90%; 
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
} 
.nombre {
  font-weight: bolder;
  text-transform: uppercase;
}
.descripcion, .estudios {
  overflow: auto;
  border-top: 1px dotted grey;
  margin: 0px 15px; 
}
.estudios {
  border-bottom: 2px solid grey;
}
.principal {
  color: #cc0000;
}
.secundaria {
  color: #342777;
}
.more {
  cursor: cell;
}

#container1 {
  background :rgba(255, 255, 255, 0.5);
  position: relative;
  overflow: hidden;
  height: 380px;
}
#info {
	
  height: 60%;
  overflow: auto;
}
#slider {
  background-image: url(../images/slider/img1.jpg);
  background-repeat: no-repeat; 
  background-position: center center; 
  background-size:cover;
  height: 28%;
}
.capa-aviso {
  z-index: 99; 
  position: relative; 
  background-color: rgba(200, 200, 200, 0.7);
}
.btn-aviso {
  width: 100%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: rgba(255, 255, 255, 0.6);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  border-color: black;
}