@font-face {
	font-family: 'Antic Slab';
	src: url('../fonts/anticslab-regular-webfont.eot');
	src: url('../fonts/anticslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
	   url('../fonts/anticslab-webfont.woff') format('woff'),
	   url('../fonts/anticslab-webfont.ttf') format('truetype'),
	   url('../fonts/anticslab-webfont.svg#abril_fatfaceregular') format('svg');
  	src: local('Antic Slab'), local('AnticSlab-Regular'), url(http://fonts.gstatic.com/s/anticslab/v4/8c9q46CAcsp9TiRX9KLgZPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
	font-style: normal;
  	font-weight: normal;
}
/*
* {
	-moz-box-sizing: border-box; 
}
*:before, *:after {
	-moz-box-sizing: border-box; 
}
*/
html,body {
	height:100%;
	width: 100%;
	margin:0;
	padding:0;
    overflow-y: inherit;
    overflow-x: hidden;
	font-family: 'Antic Slab', arial;
}
#preloader {
	position: fixed; 
	left: 0; 
	top: 0; 
	z-index: 99999; 
	width: 100%; 
	height: 100%; 
	overflow: visible; 
	background: #FFF url(../images/preloader.gif) no-repeat center center; 
}
.background-image {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;

	display: block;
	background-image: url('../images/bg/bg-5.jpg');

	background-attachment:fixed;
	background-position: center center;
	background-repeat: no-repeat;

	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 

	filter: alpha(opacity=10); /* internet explorer */
    -khtml-opacity: 0.1;      /* khtml, old safari */
    -moz-opacity: 0.1;       /* mozilla, netscape */
    opacity: 0.1;           /* fx, safari, opera */
}
.fullscreen {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.blur {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
.grayscale {
    filter: grayscale(100%);
    filter: url(grayscale.svg);  /* Firefox 4+ */
    filter:gray;  /* IE6-9 */
    -webkit-filter:grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}
.container-full {
	width: 100%;
	/*height:120%;*/
	position: absolute;
	/*left: 0;*/
    /*right: 0;*/
    z-index: 9;
	/*margin: 0 auto;*/
	/*padding: 0;*/
	/*margin:0;	*/
	/*color:#555;*/
}

.container-full a {
	text-decoration:none;
}
.header {
	height: 100px;
}
.header h4 {
    font-size: 20px;
    line-height: 1.5;
    max-height: 60px;
}
#titulo {
	font-family: 'Antic Slab', arial;
	color:#c00;
}
.image-container {   
    height: auto;
    width: 22%;
}
.lead {
	font-size:5em;
	color:#c00;
}
h6.sublead {
    color: #c00;
    font-size: 1.5em;
}
.img-responsive {
	display: inline-block;
	max-width: 100px;
	max-height: 100px;
}

.typeahead {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	background-color: rgba(255, 255, 255, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	border-color: black;
	margin-bottom: 10px;
}
.scrollable-menu {
	display: none;
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
	width: 100%;
	margin-top: 0;
	padding: 8px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 8px 0 0 8px;
	-moz-border-radius: 8px 0 0 8px;
	border-radius: 8px 0 0 8px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	position: absolute;  
	z-index: 999;
}

#scrollable-dropdown-menu {
	width: 95%;
}
#ver-video {
	margin-top: 50px;
}
#ver-video a { 
	padding: 10px 30px;
	text-decoration: none;
	font-size: 1em;
}
#video {
	width : 100%;
	display: none;
	padding: 0;
	margin: 0;
} 
.control-video {
    position: absolute;
    top: 2%;
    right: 12%;
    z-index: 1000;
    font-size: 1em;
    display: none;
}
#close-fullvid, #arrow-down {
    color: #fff;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding-top: 9px;
    background-color: #1d1d1b;
}
#close-fullvid:hover, #close-fullvid:active, #close-fullvid:link, #arrow-down:hover, #arrow-down:active, #arrow-down:link {
    background-color: #000;
    text-decoration: none;
}
#fullvid {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.margen {
	height: 50px;
}
.borde-separador {
	border-left: 1px dotted #337ab7;
}
footer {
	position: fixed;
	z-index: 99;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 50px;
	border-top: 1px #999;
	background-color: rgba(255, 255, 255, 0.8);
}
footer div{
	margin-top: 5px;
	font-weight: bolder;
	color: #555;
}
.separador {
    position: absolute;
    right: 0;
    color: #337ab7;
}
.mobile-menu {
	padding: 0;
	margin-top: 1px;
}
.social {
	margin-top: -3px;
}
ul.share-buttons{
	list-style: none;
	padding: 0;
}
ul.share-buttons li{
	display: inline;
}
.caja {
	font-size: 12px;
	margin: 20px;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 5px 5px 5px #DDD;
	/*-moz-box-shadow: inset 1px 5px 1px 5px #DDD;
    -webkit-box-shadow: inset 1px 5px 1px 5px #DDD;
    box-shadow: inset 1px 5px 1px 5px #DDD;*/
}
.sprite {
	background:url(../images/sprite.png) no-repeat;
	height: 250px;
	width: 100px;
	float: left;
	margin-right: 15px;
}
#sprite-alfonso {
	background-position: -40px 0px;
}
#sprite-manu {
	background-position: -40px -353px;
}

a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  z-index: 9999;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -20px;
  width: 0; height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.7;
  top: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}
.btn-qsdm {
  width: 100%;
  margin-top: 10px;
  border-color: #337ab7; 
  color: #337ab7;
  font-size: 1.2em;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  background-color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
}

li.hijo {
	display: none;
}
li.padre {
	background-color: #eaf1f7;
	/*display: none;*/
}
li.abuelo {
	background-color: #c1d7e9;
	/*display: none;*/
}
li.bisabuelo {
	background-color: #84afd3;
	
}
li.tatarabuelo {
	background-color: #337ab7;
	/*display: none;*/
}
li.tatarabuelo a {
	color: white;
}

.btn-footer {
	width: 100%;
	height: 10px;
	position: absolute;
	top: -18px;
	left: 0;
    background-color: rgba(240, 240, 240, 1);
    border-bottom-color: transparent;
}
#btn-footer-xs {
	
	position: static;
    margin-top: -2px;
	border: 0;
	background-color: transparent;
}
span.flecha {
	border-bottom: 4px solid;
	border-top: 0;
    top: -10px;
    position: absolute;
}
.sel-menu {
	border-bottom: 3px;
	text-decoration: overline;
}


/* TYPEAHEAD STYLES */
.twitter-typeahead {
	width: 100%;
}
.tt-query, .tt-hint {
    width: 100%;
    height: 50px;
    padding: 8px 12px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}
.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
    color: #999;
    font-size: 18px;
}
.tt-dropdown-menu {
	max-height: 150px;
	overflow-y: auto;
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
    padding: 3px 20px;
    padding-top: 5px;
    line-height: 18px;
    font-size: 1em;
}
.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;

}

/* Tablets (portrait and landscape) ----------- */
/*
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
	.lead {
		font-size:5em;
		color:#c00;
	}
	.img-responsive {
		display: inline-block;
		max-width: 100px;
		max-height: 100px;
	}
	.sublead {
		font-size:1.5em;
		color:#c00;
		margin-top: 0;
		margin-bottom: 25px;
	}
	video {
		margin: 0;
		width: 35%;
		height: auto;
	} 
	footer {
		background-color: rgba(255, 255, 255, 0.8);
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
	.lead {
		font-size:5em;
		color:#c00;
	}
	.img-responsive {
		display: inline-block;
		max-width: 100px;
		max-height: 100px;
	}
	.sublead {
		font-size:1.5em;
		color:#c00;
		margin-top: 0;
		margin-bottom: 25px;
	}
	video {
		margin: 0;
		width: 35%;
		height: auto;
	} 
	footer {
		background-color: rgba(255, 255, 255, 0.8);
		font-size: 0.7em;
	}
}
*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 400px) and (orientation:portrait) {
	html,body {
		background-color: rgba(255, 255, 255, 0.5);
	}
	#scrollable-dropdown-menu {
		width: 90%;
	}
	.lead {
		font-size:3em;
		color:#c00;
	}
	#titulo {
		margin-bottom: 0;
	}
	.img-responsive {
		display: inline-block;
		max-width: 110px;
		max-height: 110px;		    
	}
	.img-menu {
		width: 45px;
    	margin-top: -10px;		    
	}
	.sublead {
		font-size:1.2em;
		color:#c00;
		margin-top: 0;
		margin-bottom: 20px;
	}
	#formulario {
		width: 90%;
	}
	#formulario:after {
		content: "(ejemplo: Médico)";
		color: #c00;
	}
	video {
		margin: 0;
		width: 80%;
		height: auto;
	}
	#ver-video {
		margin-top: 100px;
	} 
	#ver-video a {
		font-size: 0.9em
	} 
	.control-video {
        right: 1%;
    }
	footer {
		top: 0;
		background-color: rgba(230, 230, 230, 0.9);
		font-size: 1.6em;
	}
	.mobile-menu {
		margin-bottom: 5px;
	}
	.social {
	    margin-top: 14px;
	}

}

@media only screen and (max-device-width: 768px) and (orientation:landscape) {
   html,body {
		/*background-color: rgba(255, 255, 255, 0.5);*/
	}
	.lead {
		font-size:3em;
		color:#c00;
	}
	#titulo {
		margin: 0;
	}
	.img-responsive {
		display: inline-block;
		max-width: 80px;
		max-height: 80px;		    
	}
	.img-menu {
		width: 45px;
    	margin-top: -10px;		    
	}
	.sublead {
		font-size:1.2em;
		color:#c00;
		margin-top: 0;
		margin-bottom: 20px;
	}
	form#formulario {
		width: 95%;
	}
	video {
		margin: 0;
		width: 80%;
		height: auto;
	}
	#ver-video {
		margin-top: 10px;
	} 
	#fullvid-link {
        padding: 10px 30px;
        font-size: 0.8em;
    }
    .control-video {
        right: 1%;
    }
	footer {
		top: 0;
		background-color: rgba(230, 230, 230, 0.9);
		font-size: 1.15em;
	}
	.mobile-menu {
		margin-bottom: 5px;
	}
	.social {
	    margin-top: 10px;
	}
}