@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

* {
	-moz-box-sizing: border-box; 
}
*:before, *:after {
	-moz-box-sizing: border-box; 
}

html,body {
	height:100%;
	width: 100%;
	margin:0;
	padding:0
	overflow-y: scroll;
	*overflow-x: hidden;
}
.container-full {
	margin: 0 auto;
	padding: 0;
	margin:0;
	width: 100%;
	min-height:100%;
	background-image: url('../images/fondo.svg');
	background-size: 150%;
	background-position: left left;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#555;
	overflow:hidden;

}

.container-full a {
	color:#efefef;
	text-decoration:none;
}

#titulo {
	opacity: 0;
	margin-bottom: 0;
	font-family: 'Antic Slab', arial;
	color:#c00;
}

@media screen and (min-width: 768px) {
	.lead {
		font-size:5em;
		color:#c00;
	}
	.img-responsive {
		display: inline-block;
		max-width: 100px;
	}
	.sublead {
		font-size:1.5em;
		color:#c00;
		margin-top: 0;
		margin-bottom: 25px;
	}
	video {
		margin: 0;
		width: 35%;
		height: auto;
	} 
}

@media screen and (max-width: 768px) {
	.lead {
		font-size:3em;
		color:#c00;
	}
	.img-responsive {
		display: inline-block;
		width: 200px;		    
	}
	.sublead {
		font-size:1.2em;
		color:#c00;
		margin-top: 0;
		margin-bottom: 20px;
	}
	video {
		margin: 0;
		width: 80%;
		height: auto;
	} 
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	html,body {
		height:100%;
		margin:0;
		padding:0
		overflow-y: scroll;
		*overflow-x: hidden;
	}
	footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		/* Set the fixed height of the footer here */
		height: 60px;
		background-color: rgba(255, 255, 255, 0.8);
	}
}

.typeahead {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	background-color: rgba(255, 255, 255, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	border-color: black;
	border-right: 0;
}
.scrollable-menu {
	display: none;
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
	width: 100%;
	margin-top: 0;
	padding: 8px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 8px 0 0 8px;
	-moz-border-radius: 8px 0 0 8px;
	border-radius: 8px 0 0 8px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	position: absolute;  
	z-index: 99;
}
.header {
	height: 20%;
}
.body {
	height: 20%;
}
.footer {
	height: 60%;
}
#ver-video {
	margin-top: 130px;
	margin-bottom: 1%
}
#ver-video a { 
	font-size: 15px;
	padding: 10px 30px;
	color: #888;
	text-decoration: none;
}
#video {
	width : 100%;
	display: none;
	padding: 0;
	margin: 0;
} 

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 40px;
	background-color: rgba(255, 255, 255, 0.8);
}
footer div{
	margin-top: 5px;
	font-weight: bolder;
	color: #555;
	
}