div.header {
    height: 114px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #d62e46;
    z-index: 98;
    box-shadow: 0px 5px 20px #333;
    padding: 15px 30px;
}

div.body > div {
  padding:0;
}

.sublead {
  margin: 0;
  font-size: 1em;
}

.img-responsive {
  height: 60px;
}

.grafica {
  border: 1.7px dotted #444; 
  border-radius: 16px;
  width: 90%; 
  height: 380px;
  margin: 20px auto;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
} 

.nombre {
  font-weight: bolder;
  text-transform: uppercase;
  margin: 10px;
}

.descripcion, .estudios {
  overflow: auto;
  border-top: 1px dotted grey;
  margin: 0px 15px; 
  padding-top: 10px;
}

.descripcion ul {
  font-size: .8em;
  margin-top: 10px;
}

.estudios {
  margin-bottom: 10px;
}

.principal {
  color: #d62e46;
}

.secundaria {
  color: #337ab7;
}

.more {
  cursor: cell;
  white-space: nowrap;
}

.highcharts-container {
  font-family: inherit;
}

#container1 {
  background :rgba(255, 255, 255, 0.5);
  position: relative;
  overflow: hidden;
  height: 380px;
}

#info {
  height: 85%;
  overflow: auto;
}

#slider {
  background-image: url(../images/slider/img1.jpg);
  background-repeat: no-repeat; 
  background-position: center center; 
  background-size:cover;
  height: 28%;
}

.capa-aviso, .capa-glosario {
  width: 100%;
  height: 100%;
  z-index: 10; 
  position: absolute; 
  top: 0;
  padding-top: 20px;
  background-color: rgba(200, 200, 200, 0.9);
  font-size: 14px;
  overflow: auto;
  border-radius: 14.5px;
}

.btn-aviso {
  width: 50%;
  font-size: 1.2em;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  background-color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cerrar-aviso, .cerrar-glosario {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.capa-glosario dd {
  margin-bottom: 10px;
}

.highcharts-xaxis-labels > span i {
  display: none;
  position: relative;
  z-index: 0;
}

.highcharts-xaxis-labels > span:nth-child(1) i:nth-child(1)
.highcharts-xaxis-labels > span:nth-child(2) i:nth-child(2)
.highcharts-xaxis-labels > span:nth-child(3) i:nth-child(3)
.highcharts-xaxis-labels > span:nth-child(4) i:nth-child(4)
.highcharts-xaxis-labels > span:nth-child(5) i:nth-child(5)
.highcharts-xaxis-labels > span:nth-child(6) i:nth-child(6) {
  display: inline;
}

.input-group {
  width: 100% !important;
}

#btnAddComparador {
  cursor: pointer;
  font-size: 1.5em;
  margin: 10px;
  color: #337ab7;
}

#btnAddComparador:hover {
  color: #ffffff;
}

#noticiasContainer {
  overflow: scroll;
  height: 319px;
  margin: 20px;
}

#noticiasContainer .list-group .post-title {
  font-size: 1.4em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 400px) and (orientation:portrait) {
  div.header {
    padding: 5px 20px;
  }

  .grafica {
    border-radius: 0;
    width: 100%;
    margin-bottom: 0;
  }

  .capa-aviso, .capa-glosario {
    border-radius: 0;
  }

  .capa-aviso h3, .capa-glosario h3 {
    font-size: 18px;
    margin-top: 10px;
  } 

  .capa-glosario dd {
    margin-bottom: 3px;
  }

  .highcharts-container svg > g.highcharts-button:nth-child(2) {
    display: none;
  }

  .cerrar-aviso, .cerrar-glosario {
    top: 5px;
    right: 5px;
  }

  .input-group {
    display: block !important;
  }

  #noticiasContainer .list-group .post-title {
    font-size: 1em;
  }
}

@media only screen and (max-device-width: 768px) and (orientation:landscape) {
  div.header {
    padding: 5px 20px;
  }

  .grafica {
    border-radius: 0;
    width: 100%;
    margin-bottom: 0;
  }

  .capa-aviso, .capa-glosario {
    border-radius: 0;
  }

  .capa-aviso h3, .capa-glosario h3 {
    font-size: 18px;
    margin-top: 10px;
  } 

  .capa-glosario dd {
    margin-bottom: 3px;
  }

  .cerrar-aviso, .cerrar-glosario {
    top: 5px;
    right: 5px;
  }

  .input-group {
    display: block !important;
  }

  #noticiasContainer .list-group .post-title {
    font-size: 1em;
  }
}