.header {
  margin-bottom: 30px;
}

.control-label {
  padding-right: 0;
}

.slider-selection {
  background: #BABABA;
}

.titulo1 {
  margin-top: 20px;
  border-top: 1px;
}

.slider-handle {
  background-image: linear-gradient(to bottom, red, #d5001e);
}

.normal-input {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: rgba(255, 255, 255, 0.6);

  border-radius: 0;
  border: 2px solid #ccc;
  border-top-color: rgb(204, 204, 204);
  border-top-style: solid;
  border-top-width: 2px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 2px;
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 2px;
}

.inputs-ocultos { 
  display: none; 
}

.form-group.required label:after {
  content:"*";
  color:red;
}

.scrollable-menu {
  position: relative;
}

/* editar jquery-mobile styles */
.ui-page {
  
}

.ui-content {
  padding: 0;
}

.ui-page-theme-a {
  background: none;
}

.ui-body-inherit {
  background-color: rgba(255, 255, 255, 0.8);
}

.ui-mobile,.ui-page-active {
  overflow-y: inherit;
}

.ui-input-text, .ui-input-search {
  margin: 0; 
  border-width: 2px; 
  /* border-style: solid; */
}

.ui-field-contain, .ui-mobile fieldset.ui-field-contain {
  padding: 0;
}

.ui-corner-all {
  -webkit-border-radius: 0; 
  border-radius: 0;
}

.ui-controlgroup-controls {
  width: 100%;
}

.ui-controlgroup-controls .ui-btn {
  text-align: center;
}

.ui-radio {
  width: 50%;
}

.ui-input-text input {
  padding: 15px;
}

.ui-btn {
  font-family: 'Antic Slab', arial;
  font-size: 14px;
  line-height: 1.42857143; 
}

.otro-input {
  width: 50%;
  height: 44px;
  padding-left: 10px;
}

.ui-checkbox{
  width: 20%;
}

.btn-qsdm {
  margin-top: 30px;
  height: 50px;
}

button.btn-qsdm, .ui-radio label {
  font-weight: normal !important;
  font-size: 14px !important;
}